.notificationContainer {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1000;

    > * {
        margin-bottom: 15px;
        margin-right: 15px;

        > * {
            margin-bottom: 5px;
        }
    }

    .notificationGroup {
        > div {
            margin-bottom: 15px;
        }

        .notificationMessage {
            font-size: 16px;
        }
    }
}
