.pageContainer {
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    

    .loginForm {
        background-color: white;
        padding: 40px;
        width: 300px;
        height: fit-content;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .loginTitle {
            margin-bottom: 40px;
            font-size: 24px;
            font-weight: 700;
        }

        .emailInput {
            margin-bottom: 40px;
            width: 100%;
        }
    }
}