.groupHeaderContainer {
    display: flex;
    font-size: 16px;

    .groupName {
        font-weight: 700;
        padding-top: 3px;

        span {
            margin-left: 25px;
        }
    }

    .warning {
        color: red;
    }
}

.addButton {
    margin-bottom: 20px;
}