.app {
  height: 100%;

  .sidenav {
    height: 100%;
    display: flex;

    .sidenavContent {
      position: relative;
      width: 240px;
      overflow: hidden;
      padding-bottom: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
      .menuItem {
        display: flex;
        color: white;
        font-size: larger;
        padding: 5px 0px;
        align-items: center;
        height: 35px;
        text-decoration: none;
    
        > i {
            font-size: 25px;
            margin-left: 15px;
            margin-right: 25px;
        }
    
        &:hover {
            color: black;
            background-color: white;
            transition: background 100ms ease-in;
        }
    
        &.selected {
            color: black;
            background-color: #f9f9f9;
        }
    }
  }

  .appContainer {
    display: flex;
    height: 100%;

    .content {
      background-color: rgb(249, 249, 249);
      flex: 1 1;
      overflow: auto;
      padding: 20px;
      height: calc(100% - 40px);

      .pageContainer {
        width: 100%;
        overflow: auto;
        position: relative;
      }
    }

    .sidenav .ms-Nav-linkText {
      color: white;
    }
  }
}